---
layout: default
title: "Changelog"
changelog:
  - date: "2024-11-25"
    title: "New Navbar Dropdown"
    description: "Updated the behavior of the dropdown to work dynamically."
    badges:
      - label: "New Content"
        image: "https://img.shields.io/badge/new_content-purple"
  - date: "1912-12-12"
    title: "Help Morty!"
    description: "I'm stuck in this shitty website!"
    badges:
     - label: "Another update"
       image: "https://img.shields.io/badge/redesign-goldenrod"
---

<div class="changelog">
  {% for entry in page.changelog %}
    <div class="changelog-entry">
        <h3 class="mb-0">
            <span class="badges">
            {% for badge in entry.badges %}
                <img src="{{ badge.image }}" alt="{{ badge.label }}" title="{{ badge.label }}" class="badge">
            {% endfor %}
            </span>
            {{ entry.title }}
        </h3>
        <small class="date"><i>Released {{ entry.date | date: "%B %d, %Y" }}</i></small>
        <p class="mt-2 description">{{ entry.description }}</p>
        <br/>
    </div>
  {% endfor %}
  <p>Stuck? Reference the badges with this secret mouskatool: <a href="https://shields.io/badges" target="_blank">https://shields.io/badges</a>!</p>
</div>
