<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: "My Portfolio" }}</title>
  <link rel="stylesheet" href="/assets/css/input.css">
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ '/' | relative_url }}">
        <strong>Quantum Playtime</strong>
      </a>
    </div>
  </nav>

  <div class="columns">
    <div class="column is-one-fifth">
      <aside class="p-4 menu">
        <p class="menu-label">About</p>
        <ul class="menu-list">
          <li><a class="{% if page.path contains 'about/the-creator' %}is-active{% endif %}" href="{{ '/about/the-creator' | relative_url }}">The Creator</a></li>
          <li><a href="{{ '/about/the-website' | relative_url }}">This Website</a></li>
        </ul>
        <p class="menu-label">Creations</p>
        <ul class="menu-list">
          <li><a>[Webcomic]</a></li>
          <li><a>Painting</a></li>
          <li><a>Printmaking</a></li>
          <li><a>More Websites</a></li>
        </ul>
        <p class="menu-label">Other</p>
        <ul class="menu-list">
          <li><a>Site Updates</a></li>
          <li><a>Blog</a></li>
          <li><a>Contact Me</a></li>
        </ul>
      </aside>
    </div>
    <div class="column">
      <!-- Main Content -->
      <section class="section">
        <div class="content">
          {{ content }}
        </div>
      </section>
    </div>
    <div class="column is-one-fifth">
      <div class="p-4 content has-text-right">
        <p>Latest Site Update</p>
        <p>Latest Blog post</p>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <div class="content has-text-centered">
      <p>&copy; {{ site.time | date: "%Y" }} Quantum Playtime. All rights reserved.</p>
      <p>All images are mine unless otherwise specified.</p>
    </div>
  </footer>

</body>
</html>